* {
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
}
/*Tipografía*/
h1 /*título de página*/ {
    font-family: 'Oswald';
    font-style: normal;
    color: #3F51B5;
    font-size: 34px;
}
h5 /*título de footer*/ {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 16px;
    color:#FFB703;
    text-align: center;
}
h2 /*título de encabezado*/ {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    }
h4 /*título de errores*/ {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color:red;
}
p, li, label{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Secciones de la página*/
header{
    background:  #FFB703;
    height:150px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}
aside /*objeto de lado izquierdo*/{
    border: #3F51B5;
    border-style: solid;
    padding: 3%;
    border-radius: 15px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display:flex;
    justify-content:space-around;  
    height:100%;
}
form{
    border: #3F51B5;
    border-style: solid;
    padding: 3%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
input[type=text],input[type=email], input[type=number], input[type=date],input[type=radio], select{
    padding: 10px;
    margin:10px;  
    border-radius:10px; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;     
}

button{ /*falta*/
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:15px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:400;
    border-radius:5px;
    width:30%;  

}
footer{ 
    background: #3F51B5;
}
