* {
    margin: 0;
    padding: 0;
  }
html {
    position: relative; 
    /*width: 1500px;*/
   background:#FEFAE0; 
}

/*Tipografía*/
/*Encabezado*/
h1 /*título de página*/ {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    line-height: 85px;
    color: #FEFAE0;
}
#titleHeader{
    position: relative;
    top: -110%;
    left: 30%;
}
/*Títulos*/
h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /*familia de la letra que escogí*/
    font-weight: bold; /*peso o grueso de la letra*/
    font-size: 30px;
    line-height: normal; /*distancia entre lineas del texto*/
    text-align: center;
    color: #023047;
    }
/*Título de pie de página*/
h4{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color:red;
}
h5{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color:#023047;
    text-align: center;
}
/*Secciones de la página*/
header{
    position:sticky;
    width: 100%;
    height: 100%;
    background: #023047;
}
main{
    position: static;
    background: #FFB703;
    padding: 25px;
    width: 650px;
    text-align: center;
}
form{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #023047;
    font-size: 16px;
    padding: 15px;
}
aside{
    position:absolute;
    left: 750px;
}

input[type=text],input[type=email], select{
    padding: 10px;
    margin:10px;  
    border-radius:10px; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;     
}

button{
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:15px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:400;
    border-radius:5px;
    width:30%;  

}
footer{ 
    position: sticky;
    width: 1500px;
    height: 98px; 
    top: 1000px;
    background: #219EBC
}
img {
    max-width: 100%;
    max-height: 100%;
}